<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button name="menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <form>
    <div class="ion-text-center">
      <h1>Registrarse</h1>
      <ion-icon name="person-add-outline"></ion-icon>
    </div>
    <input placeholder="Nombres" type="text" name="nombre" [(ngModel)]= "nombre" required>
    <input placeholder="Apellidos" type="text" name="apellido" [(ngModel)]= "apellido" required>
    <div class="carrera">
      <label>Carrera: </label>
      <select [(ngModel)]= "carrera" name="carrera" class="ion-text-center" required>
        <option value="Arquitectura">Arquitectura</option>
        <option value="Cine y Televisión">Cine y Televisión</option>
        <option value="Comunicación Social">Comunicación Social</option>
        <option value="Gastronomía">Gastronomía</option>
        <option value="Administración de empresas">Administración de empresas</option>
        <option value="Hotelería y Turismo">Hotelería y Turismo</option>
        <option value="Negocios Internacionales">Negocios Internacionales</option>
        <option value="Desarrollo de Software">Desarrollo de Software</option>
        <option value="Ingeniería en Telecomunicaciones">Ingeniería en Telecomunicaciones</option>
        <option value="Ingenieria Mecatrónica">Ingenieria Mecatrónica</option>
      </select>
    </div>
    <input placeholder=" Número de Documento" type="text" name="documento" [(ngModel)]= "documento" required>
    <input placeholder="Correo" type="text" name="email" [(ngModel)]= "email" required>
    <input placeholder="Contraseña" type="password" name="password" [(ngModel)]= "password" required>
    <button (click)= "register()">Registrarse </button>
  </form> 
</ion-content>
